/* HEADER SECTION */
.site-header {
    background-image: url('../img/ombre-blue-curve-light-blue-background-vector_53876-140344.avif');
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    text-align: center;
    color:black;
}


.logo-left,
.logo-right {
    height: 100px;
}



/* NAVIGATION BAR */
.main-nav {
    background-color: #0e4d90;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid yellow;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;

    
}

/* Menu Links */
.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}



/* Dropdown Menu */
.submenu {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #083866;
    list-style: none;
    padding: 0;
    min-width: 180px;
}




/* Dropdown Links */
.submenu li a {
    padding: 10px 15px;
    font-size: 14px;
}


.nav-menu > li:hover > a {
    background-color: red;
}



.submenu li a:hover {
    background-color: #0e4d90;
}



/* Hover to Open */
.menu-item:hover .submenu {
    display: block;
}



.controls {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.controls button {
    padding: 8px 14px;
    margin: 0 5px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.controls button:hover {
    background-color: rgba(0,0,0,1);
}



/* ===== HERO SLIDER (CSS ONLY) ===== */
.hero-slider {
    margin-top: 10px;
}

.slider {
    position: relative;
    max-width: 1100px;      /* adjust width if you like */
    margin: 0 auto;
    overflow: hidden;
    height: 400px;
}

.slider figure {
    position: absolute;
    inset: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 1s ease;   /* smooth fade */
}
.slider img {
    width: 100%;
    height: auto;
    display: block;
}


.slider figure.active {
    opacity: 1;
}
